.city-button{
  min-height: 80px;
  min-width: 180px;
  color: white;
  background: linear-gradient(0deg, rgba(0, 99, 229, 0.9) 56%, rgb(10, 135, 185) 92%);
  border-radius: 25px;
}

.app{
  background-color: rgb(216, 252, 252);
  min-height: 100vh;
}
